<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108425776825-e5ejtksnjmc3n781op43nmhgob11crfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108425776825-e5ejtksnjmc3n781op43nmhgob11crfi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108425776825-pq0dku42p0fakbus1ctu88ugr14j21ru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAs_YiVQSM4KvFAbQ3Jjjaiz6swVMHkC1c</string>
	<key>GCM_SENDER_ID</key>
	<string>108425776825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siraan.storeapp</string>
	<key>PROJECT_ID</key>
	<string>siraanstore</string>
	<key>STORAGE_BUCKET</key>
	<string>siraanstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108425776825:ios:60ba31893d6bbb36959568</string>
</dict>
</plist>